@charset "utf-8";

/*
  Hier werden alle CSS-Eigenschaften der Drop-Down-Menüs gespeichert
*/

/*** Diese CSS-Eigenschaften werden auf der Seite Login.php & Register.php benutzt ***/
.dropdown1 {
    position: relative;
    display: inline-block;
}
.dropdown1-content {
    margin-left: -16rem;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 30rem;
    box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0,0,0,0.2);
    padding: 1.2rem 1.6rem;
    z-index: 1;
}
.dropdown1:hover .dropdown1-content {
    display: block;
}

/********/

/*** Diese CSS-Eigenschaften werden auf der Seite Generieren.php benutzt ***/
.dropdown2 {
    position: relative;
    display: inline-block;
}
.dropdown2-content1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 19rem;
  min-height: 10rem;
  box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0,0,0,0.2);
  padding-top: 0.4rem;
  padding: 0.8rem 1rem;
  z-index: 1;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.dropdown2-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 19rem;
    min-height: 10rem;
    box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0,0,0,0.2);
    padding-top: 0.4rem;
    padding: 0.8rem 1rem;
    z-index: 1;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.dropdown2:hover .dropdown2-content1  {
    display: block;
}
.dropdown2:hover .dropdown2-content2  {
    display: block;
}
.dropdown2-content:hover{
  display: block;
}

/********/

/*** Diese CSS-Eigenschaften werden auf der Seite Generieren.php benutzt ***/
.dropdown3 {
    position: relative;
    display: inline-block;
}
.dropdown3-content {
    margin-top: 1.6rem;
    margin-left: 12rem;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 5.5rem;
    height: 1.2rem;
    box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0,0,0,0.2);
    padding: 0.3rem;
    border-radius: 0.8rem;
    z-index: 1;
}
.dropdown3:hover .dropdown3-content {
    display: block;
}

/********/

/*** Diese CSS-Eigenschaften werden auf der Seite Userliste.php benutzt ***/
.dropdown4 {
    position: relative;
    display: inline-block;
}
.dropdown4-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 9em;
    min-height: 11em;
    box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0,0,0,0.2);
    padding: 1.2rem 1.6rem;
    z-index: 1;
}
.dropdown4:hover .dropdown4-content {
    display: block;
}

/********/

/*** Diese CSS-Eigenschaften werden auf der Seite Freunde.php & Freunschaftsanfragenbekommen.php & Freunsdschaftsanfragengeschickt.php benutzt ***/
.dropdown5 {
    position: relative;
    display: inline-block;
}
.dropdown5-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    margin-top: -0.2rem;
    width: 33.3em;
    height: 5em;
    box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown5:hover .dropdown5-content {
    display: block;

}

/********/

/*** Diese CSS-Eigenschaften werden auf der Seite Generieren.php benutzt ***/
.dropdown6 {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    min-width: 2rem;
    max-width: 20rem;
}
.dropdown6-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 6rem;
    max-width: 20rem;
    height: 1.5rem;
    padding: rem;
    margin-top: -1.5rem;
    z-index: 1;
}
.dropdown6:hover .dropdown6-content {
    display: block;
}

/********/

/*** Diese CSS-Eigenschaften werden auf der Seite Generieren.php benutzt ***/
.dropdown7 {
    position: relative;
    display: inline-block;
}
.dropdown7-content {
    margin-top: -1.8rem;
    margin-left: 1.3rem;
    display: none;
    height: 1.2rem;
    min-width: 5rem;
    padding: 0.3rem;
    border-radius: 0.8rem;
    z-index: 1;
}
.dropdown7:hover .dropdown7-content {
    display: block;
}

/********/
